---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import Badge from "@/components/Badge.astro"
---

<Layout
  title="Portfolio Matias Querejeta "
  description=""
>
  <main class="px-4">
    <SectionContainer id="home" class="py-16 md:py-36 ">
      <Hero >
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experience">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white ">
          <Briefcase class="size-8" />
          Work Experience
        </h2>
        <Experience />
      </SectionContainer>
   
     
      <SectionContainer id="about-me">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white ">
          <ProfileCheck class="size-8" />
          About Me
        </h2>
        <AboutMe />
      </SectionContainer>
      <SectionContainer id="projects">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          <CodeIcon class="size-7" />
          Languages, Frameworks and Tools
        </h2>
        <article class="flex flex-col items-center justify-center gap-12 text-gray-700 dark:text-gray-300 md:flex-row">
          <div class="[&gt;p]:mb-4 [&gt;p&gt;strong]:text-yellow-500 dark:[&gt;p&gt;strong]:text-yellow-100 [&gt;p&gt;strong]:font-normal [&gt;p&gt;strong]:font-mono text-pretty order-2 md:order-1">
            <p style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-wrap: wrap; gap: 8px;">
                  <img title="react" height="10%" width="10%" src="images/react.svg" >
                  <img title="js" height="10%" width="10%" src="images/javascript-original.svg" >
                  <img title="C#" height="10%" width="10%" src="images/csharp.svg" >
                  <img title="css" height="10%" width="10%" src="images/css3-original.svg" >
                  <img title="redux" height="10%" width="10%" src="images/redux-svgrepo-com.svg" >
                  <img title="nextjs" height="10%" width="10%" src="images/next-js-svgrepo-com.svg" >
                  <img title="typescript" height="10%" width="10%" src="images/typescript-svgrepo-com.svg" >
                  <img title="dotnet" height="10%" width="10%" src="images/dotnetcore-original.svg" >
                  <img title="tailwind" height="10%" width="10%" src="images/tailwindcss-plain.svg" >
                  <img title="git" height="10%" width="10%" src="images/git-original.svg" >
                  <img title="html" height="10%" width="10%" src="images/html5-original.svg" >
                  <img title="bootstrap" height="10%" width="10%" src="images/bootstrap-original.svg" >
                  <img title="visual" height="10%" width="10%" src="images/visualstudio-plain.svg" >
                  <img title="vscode" height="10%" width="10%" src="images/vscode-original.svg" >
                  <img title="blazor" height="10%" width="10%" src="images/blazor.svg" >
                  <img title="entity" height="10%" width="10%" src="images/entity-original.svg" >
                </p>
              </div>
          </article>
      
      </SectionContainer>
      <SectionContainer id="projects">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
          <CodeIcon class="size-7" />
          Projects (Coming soon)
        </h2>
        <Projects />
      </SectionContainer>
     
 <style>
  img{
transition: width 1s, height 1s, transform 1s;
  }
  img:hover{
    transform: rotate(360deg);
  }
 </style>