---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "NOV 2022- PRESENT",
    title: ".Net Developer",
    company: "RIPSA RED DE PAGOS",
    description:
    "Proficient in both Backend and Frontend tasks, I utilize C#, .NET, and Blazor. Currently, I specialize in developing web applications using Blazor WebAssembly within an Onion architecture framework. My responsibilities include integrating payment buttons, revamping outdated websites, and customizing IdentityServer4 by Skoruba. Additionally, I demonstrate expertise in creating Restful Web APIs to facilitate seamless application interactions and adeptly managing SQL Server databases.",
  }
]
---

<ol class="relative mt-16 animate-fade-right animate-once animate-duration-2000 animate-ease-out" >
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
