---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "NOV 2022- PRESENT",
    title: ".Net Developer",
    company: "RIPSA RED DE PAGOS",
    description:
    "I have experience performing both Backend and Frontend tasks utilizing C#, .NET, and Blazor. In my current role, I have developed web applications using Blazor WebAssembly with the Onion architecture. Additionally, I have worked on integrating payment buttons from external entities and redesigning outdated websites. I have also utilized and modified IdentityServer4 from Skoruba. Furthermore, I have expertise in creating Web APIs following Restful principles to facilitate interactions between various applications. Additionally, I have demonstrated proficiency in normalizing, creating, and managing databases in SQL Server.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
