---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
  {
    date: "NOV 2022- FEB 2024",
    title: ".Net Developer",
    company: "RIPSA RED DE PAGOS",
    description: " Proficient in both backend and frontend development using C#, .NET, and Blazor. Specialized in Blazor WebAssembly within an Onion architecture. Responsibilities included integrating payment buttons, updating websites, customizing IdentityServer4 by Skoruba, creating Restful Web APIs, and managing SQL Server databases."
  },
  {
    date: "FEB 2024- PRESENT",
    title: "Frontend Developer",
    company: "RIPSA RED DE PAGOS",
    description: 'Focused on frontend development for a new payment website using React and TypeScript, while maintaining previous projects.'
  }
]
---

<ol class="relative mt-16 animate-fade-right animate-once animate-duration-2000 animate-ease-out" >
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
